:root {
  --stweets-border-color: #e1e1e1;
  --stweets-date-color: #666;
}

.stweets {
  * {
    margin: 0;
    padding: 0;
  }

  &__header {
    margin-bottom: 1rem;
    font-size: 1.2rem;

    &__link {
      font-weight: bold;
    }
  }

  .stweet {
    border-top: 1px solid var(--stweets-border-color);
    padding: 1rem 0;

    &__date {
      font-size: 0.8rem;
      color: var(--stweets-date-color);
      margin-bottom: 0.4rem;
    }

    &__text {
      white-space: pre-wrap;
      line-height: 1.5;

      ul {
        margin: -1.5rem 0 -1rem 1rem;
        white-space: normal;

        li {
          margin-top: 0.5rem;
        }
      }

      p {
        margin-bottom: -1.2rem;
      }
    }

    &__thread_link {
      font-size: 0.8rem;
      padding-top: 0.5rem;
    }
  }
}